/* .css-wjh20t-MuiPagination-ul button {
  background: #242524;
  color: white;
}
.css-1pi9rcw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #fff;
  background-color: #66c94d !important;
}
.css-wjh20t-MuiPagination-ul button:hover {
  background: #242524;
  color: white;
}
a:hover {
  text-decoration: none !important;
} */
@media screen and (max-width: 345px) {
  .pagin nav {
    margin-right: 14px;
  }
  .pagin li {
    height: 0px;
    width: 0px;
    margin: 17px;
    font-size: 9px !important;
  }
}
