.navbar {
  position: fixed;
  z-index: 3000 !important;
  height: 90px;
  overflow: hidden;
}
.navbar-light {
  background: black !important;
}
.navbar-light a {
  color: #abb7c4 !important;
  font-weight: 500;
}
.first__form {
  position: relative;
}
.first__btn {
  position: absolute;
  right: 0;
}
.first__form input {
  background-color: transparent !important;
  height: 42px;
  width: 250px !important;
  border-radius: 30px;
  border: 1px solid rgb(185, 185, 185) !important;
}
.all__right {
  margin-bottom: 10px;
  margin-right: 20px;
}
.all__right button {
  background: linear-gradient(45deg, #00aeff, #a68eff);
  border: none;
  border-radius: 4px;
  width: 45px;
  height: 40px;
  font-size: 11px;
  color: white;
  display: none;
}

.all__right input {
  width: 300px;
  height: 40px;
  line-height: 40px;
  background: #172630;
  border: 1px solid #405266;
  padding: 0 15px;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  color: #abb7c4;
  font-weight: 300;
  text-transform: none;
  margin-bottom: 15px;
  margin-top: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 768px) {
  .navbar {
    display: flex !important;
    justify-content: space-between !important;
    background: black !important;
  }
  .navbar ul {
    display: none !important;
  }
  .navbar form {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  .all__right {
    display: flex !important;
    flex: 1;
    justify-content: flex-end !important;
    margin-bottom: 0 !important;
  }
  .MainHeading img {
    margin-bottom: 0 !important;
  }
  .all__right button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .all__right input {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .all__right input {
    width: 100% !important;
  }
  .navbar {
    display: flex !important;
    justify-content: center !important;
  }
  .navbar-collapse {
    display: none !important;
  }
  .all__right {
    margin-right: 0px !important;
  }
  .all__right button {
    width: 35px;
    height: 35px;
    font-size: 9px;
  }
}
@media screen and (max-width: 350px) {
  .MainHeading {
    padding-left: 5px !important;
  }
  .MainHeading img {
    margin-bottom: 0 !important;
  }
  .myaccount {
    padding: 0 !important;
  }
  .login {
    padding: 0 !important;
    padding-left: 10px !important;
  }
}
